extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 James Flood Jr.

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p The future is filled with endless possibilities. I am driven to create and curate the ideas that will move Audio and music into the future. 


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 916-804-7864
          li floodtuning30@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/james-flood-jr' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/floodadosious34/' target='_blank') GitHub
        a.btn-link(href='https://www.instagram.com/floodcoding/' target='_blank') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back