extends layout.pug

block content

  article.portfolio-intro

    
    h1 Let's make the web Awesome!

    
    p Portfolio contains projects displaying a employee page, a form submission, and a landing page.

  //- Iterate over project objects and display each project on the page

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.description}`)
            h5=`My Site ${project.project_name}`

     
